body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dfdcdd;
    overflow-x: hidden;

}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    cursor: pointer;
}


.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
}

.hamburger-icon span {
    height: 2px;
    background-color: rgb(0, 0, 0);
}

.lupa {
    padding-left: 10px;
}

.hamburger-icon span:nth-child(1) {
    width: 100%;
}

.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
    width: 100%;
}


.logo {
    color: #0d88f0;
    font-size: 30px;
    font-weight: 800;
    margin-right: 100px;
}

.menu-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 254, 254);
}

.contbuscar {
    display: flex;
}

.search-icon,
.hamburger-icon {
    margin: 5px;
    width: 20px;
    background-color: #a1989885;
    padding: 7px;
    border-radius: 50%;
}

.contenedoriconos {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 254, 254);
    margin-top: 3px;
}

.botonesicon {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.imgprofile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profilecircule {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5px;

}

.bloque {
    display: flex;
    align-items: center;
    justify-content: center;

}

.comentarionuevo {
    background-color: hsla(0, 5%, 69%, 0.522);
    border-radius: 1.5rem;
    height: 50px;
    padding: 0 5px;

}

.online-dot {
    position: absolute;
    bottom: 5px;
    right: -4px;
    width: 13px;
    height: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    border: 2px solid white;

}

.subirFoto {
    background-color: transparent;
    border: none;
}

.fotosubida {
    height: 30px;
}

.publicationUser {
    display: flex;
    margin: 5px;

    overflow-x: scroll;
    padding: 5px;
}

.bloqueUser {
    width: 150px;
    height: 200px;

    border-radius: 10px;
    margin: 10px;
}

.imagenProfile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.usuarioPublicado {

    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.flexUser {
    display: flex;
    align-items: start;
    margin-left: 5px
}

.namePublication {
    font-size: 13px;

    margin: 3px;
}

.contcolor {
    background-color: hsla(0, 4%, 68%, 0.522);
    border-radius: 10px;
    margin: 0 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.contenido {

    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;

}

.imagenPubli {
    max-width: 100%;
    max-height: 600px;

}




.contenedorimgpub {
    display: flex;
    align-items: center;

}

.fecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    font-size: 10px;
    margin: 0;
}

.textoPublication {
    text-align: center;
}

.nuevaPublication {
    background-color: hsla(0, 4%, 68%, 0.522);
    ;
    border-radius: 5px;

    box-shadow: 3px 3px 3px 3px rgba(247, 247, 247, 0.3);
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}







.contenedor {
    display: flex;
    justify-content: space-evenly;
    width: 100%;



}


.fas {
    font-size: 15px;
    color: #333;
    margin-right: 10px;
}


.botoncomen {
    background-color: transparent;
    border: none;
}

.logoimg {
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.contenedor {
    display: flex;
    align-items: center;

}

.botoncomen {
    background-color: #9e9a9a;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ver {
    width: 12px;

}

.botoncomen i {
    font-size: 16px;
    margin-right: 5px;
}

.botoncomen span {
    font-size: 12px;
}

.iconreaciones {
    max-width: 100px;
}

.interacciones {
    font-size: 12px;
}

.intebloq {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 3px;
}

.textoPublication {
    margin-bottom: 0;
    margin-top: 3px;
    margin-bottom: 5px;
}

.number {
    color: #0d88f0;
}

.interacciones {
    margin-left: 10px;
}

.alineado {
    display: flex;
    align-items: center;
}




.agregar-amigo {
    background-color: #4267B2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.agregar-amigo i {
    font-size: 18px;
    margin-right: 5px;
}

.personasSugeridas {
    text-align: center;
}

.comentarionuevo {
    border: none;
    width: 250px;
}

.intebloq {
    display: flex;
    justify-content: center;
}

.sugerenciasperonas{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.colorHistorias{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media(max-width:600px){
 
    .bloqueUser {
      width: 100px;
      height:145px ;
      margin: 5px;
    
    }

  .sugerencias{
    width: 150px;
    height: 200px;
  }
    
.agregar-amigo{
    margin-left: 9px;
}

}